

<h3 class="my-3">Terms reference</h3>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">Transaction</th>
            <td style="width: 70%">Transfer of the amount from one account of the blockchain network to another account of the blockchain network</td>
        </tr>
        <tr>
            <th scope="row">
                <ul>
                    <li>Member</li>
                    <li>Address</li>
                    <li>Account</li>
                    <li>Wallet (owner account ID)</li>
                    <li>Public key</li>
                    <li>Network member ID</li>
                </ul>
            </th>
            <td>A string of characters that is a unique "index" of each member of the network and allows to make transactions. Synonyms by value. The value is a 32-byte string of binary data, a pair of cryptographic keys in a cryptographic system with a public key</td>
        </tr>
        <tr>
            <th scope="row">
                <ul>
                    <li>Transaction amount</li>
                    <li>Transaction value</li>
                </ul>
            </th>
            <td>The amount of transfer from the account of one member of blockchain to the account of another member of the blockchain network</td>
        </tr>
        <tr>
            <th scope="row">Sender</th>
            <td>Account from the balance of which the transaction amount is transferred</td>
        </tr>
        <tr>
            <th scope="row">Recipient</th>
            <td>Account to the balance of which the transaction amount is transferred</td>
        </tr>    
        <tr>
            <th scope="row">Member balance</th>
            <td>The sum of transaction prices received by the member minus the amount of transaction prices sent by the member</td>
        </tr>    
        <tr>
            <th scope="row">Private key</th>
            <td>A 64-byte string of binary data, a pair of cryptographic keys in a cryptographic system with a public key</td>
        </tr>
        <tr>
            <th scope="row">Public key</th>
            <td>A 64-byte string of binary data, a pair of cryptographic keys in a cryptographic system with a public key</td>
        </tr>
        <tr>
            <th scope="row">Digital signature</th>
            <td>A digital code is the result of a cryptographic transformation of information (a digital document) that generates a public-key encryption mechanism that is attached to an electronic document to verify its contents and identify the sender</td>
        </tr>
        <tr>
            <th scope="row">Transaction validation</th>
            <td>Processing a transaction by the network to decide whether to add it to the blockchain</td>
        </tr>
        <tr>
            <th scope="row">
                <ul>
                    <li>Block</li>
                    <li>Block of transactions</li>
                    <li>Blockchain block"</li>
                </ul>
            </th>
            <td>The functional unit of blockchain. Information about transactions is collected into the block for subsequent hashing and adding to the blockchain</td>
        </tr>
        <tr>
            <th scope="row">Genesis block</th>
            <td>The first block in any blockchain</td>
        </tr>
        <tr>
            <th scope="row">Hashing</th>
            <td>Transformation of the input array of arbitrary length into a bit string (output) of fixed length, made by a particular algorithm</td>
        </tr>
        <tr>
            <th scope="row">Block hash</th>
            <td>The result of hashing all the data in the block, except for EDS.</td>
        </tr>
        <tr>
            <th scope="row">
                <ul>
                    <li>Blockchain</li>
                    <li>Registry</li>
                </ul>
            </th>
            <td>This is a sequence of records (blocks) about network transactions and protected by strong cryptographic encryption</td>
        </tr>
        <tr>
            <th scope="row">Fork</th>
            <td>A situation when several new blocks consider the same one block the previous one</td>
        </tr>
        <tr>
            <th scope="row">
                <ul>
                    <li>Node</li>
                    <li>Full node</li>
                </ul>
            </th>
            <td>The main infrastructure unit of the network. A computer with sufficient computational resources, equipped with all the necessary software that allows you to reliably maintain the full functioning of the network, at any time possessing the full version of the blockchain</td>
        </tr>
        <tr>
            <th scope="row">Client</th>
            <td>Full node software to maintain the normal full functioning of the blockchain network</td>
        </tr>
        <tr>
            <th scope="row">Modified client</th>
            <td>Software created with the deliberate intent of damaging operation of the blockchain network</td>
        </tr>
        <tr>
            <th scope="row">Non-modified client</th>
            <td>Actual software created by the platform development team</td>
        </tr>
        <tr>
            <th scope="row">Trusted node</th>
            <td>Node participating in the round operation</td>
        </tr>
        <tr>
            <th scope="row">Main node</th>
            <td>One of the trusted nodes that collects transactions and passes them to trusted nodes for processing</td>
        </tr>
        <tr>
            <th scope="row">Writing node</th>
            <td>The node that signs the block</td>
        </tr>
        <tr>
            <th scope="row">Round</th>
            <td>Regular, pipeline process, which results in the formation of another block of blockchain transactions</td>
        </tr>
        <tr>
            <th scope="row">Wallet</th>
            <td>A client program or web application to generate transactions and transfer them for processing</td>
        </tr>
        <tr>
            <th scope="row">
                <ul>
                    <li>Monitor</li>
                    <li>Block explorer</li>
                </ul>
            </th>
            <td>A tool for working with blockchain data – transactions, blocks, wallets: search, view, select, sort, and many other operations</td>
        </tr>
        <tr>
            <th scope="row">Commission</th>
            <td>The payment charged for a transaction</td>
        </tr>
        <tr>
            <th scope="row">Consensus</th>
            <td>A decision to include a certain block in the blockchain, which is possible to achieve only after verification.
                Verification of transaction by all members of the network. By reaching consensus, all nodes have the same blockchain structure.
                Consensus is reached when all network participants confirm the validity of the transaction, ensuring the identity of the information on all computers</td>
        </tr>
        <tr>
            <th scope="row">Database integrity</th>
            <td>Compliance of the information available in the database with its internal logic, structure and all explicit rules. This concept includes the match of field values to the data types, unique keys, foreign keys, specified restrictions, rules, etc. defined for them</td>
        </tr>
    </tbody>
</table>