@section head
{
    <style>
        td img {
            width: 16px;
        }
    </style>
}
@section script
    {
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                net: M_NET,
                key: "@ViewData["id"]",
                node: {},
                loading: false,
                found: true
            },
            methods: {
                getData: function () {
                    this.loading = true;
                    $.get(`${M_API}/GetNodeData/${this.key}`)
                        .done(function(data) {
                            vm.node = data;
                            vm.found = data.ip.length > 0;
                        }).fail(function() {
                            vm.found = false;
                        }).always(function () {
                            vm.loading = false;
                        });
                }
            },
            created: function() {
                this.getData();
            }
        });
    </script>
}

<div class="row justify-content-center" v-show="loading">
    <div class="col-auto">
        <h6>Loading node info...</h6>
        <div class="progress mt-1">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>

<div v-show="!found">
    <h4 class="main_title padding_top_60 p_bot20">Node not found:</h4>
    <p>{{key}}</p>
</div>

<div v-show="found && !loading">
    <h3 class="main_title padding_top_60 p_bot20">Node</h3>
    <ul class="nav nav-tabs mt-3 border-bottom-0">
        <li class="nav-item">
            <a class="nav-link active text-info">Info</a>
        </li>
    </ul>
    <div class="tab-content table-responsive">
        <table class="table table-sm border-left border-bottom">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ip:</td>
                    <td>{{node.ip}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td v-if="node.active" class="text-success">Online</td>
                    <td v-else class="text-danger">Offline</td>
                </tr>
                <tr>
                    <td>Public key:</td>
                    <td>{{node.publicKey}}</td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><img :src="'https://www.countryflags.io/'+node.country+'/shiny/32.png'" alt=""> {{node.countryName}}</td>
                </tr>
                <tr>
                    <td>Version:</td>
                    <td>v{{node.version}}</td>
                </tr>
                <tr>
                    <td>Platform:</td>
                    <td v-if="node.platform == 0"><img src="/img/Linux.png" alt=""> Linux</td>
                    <td v-else-if="node.platform == 1"><img src="/img/macos.png" alt=""> Mac OS</td>
                    <td v-else><img src="/img/Windows.png" alt=""> Windows</td>
                </tr>
                <tr>
                    <td>Count Trust:</td>
                    <td>{{node.countTrust}}</td>
                </tr>
                <tr>
                    <td>Time Registration:</td>
                    <td>{{formatDateTime(node.timeRegistration)}}</td>
                </tr>
                <tr>
                    <td>Time Active:</td>
                    <td>{{getTimeSpan(node.timeActive)}}</td>
                </tr>
                <tr>
                    <td>Total Fee collected:</td>
                    <td>{{node.totalFee}}</td>
                </tr>
                <tr>
                    <td>Blocks written:</td>
                    <td>{{node.timesWriter}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
