@section head
{
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.6.5/chartjs-plugin-zoom.min.js"></script>
}

@section script
    {
    <script>
        var chart = new Chart($("#chart"),
            {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: 'Transactions per second',
                            data: [],
                            backgroundColor: [
                                'rgba(32, 96, 196, 0.2)'
                            ],
                            borderColor: [
                                'rgba(32, 96, 196, 1)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [
                            {
                                type: 'time',
                                time: {
                                    unit: 'second'
                                },
                                distribution: 'linear'
                            }
                        ],
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0
                            }
                        }]
                    },
                    elements: {
                        line: {
                            tension: 0
                        }
                    },
                    animation: {
                        duration: 0
                    },
                    hover: {
                        animationDuration: 0
                    },
                    responsiveAnimationDuration: 0,
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        enabled: true,
                        mode: 'x',
                        limits: {
                            max: 10,
                            min: 0.5
                        }
                    }
                }
            });

        function UpdChart() {
            $.get(`${M_API}/GetTpsData`)
                .done(function (model) {

                    $('#txt').text(`Points count: ${model.points.length}`);

                    chart.data.datasets[0].data = model.points;
                    chart.update();
                });
        }

        UpdChart();
        setInterval(UpdChart, 2000);
    </script>
}


<h4 class="my-3">Transactions per second</h4>
<div id="txt" class="mt-4"></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <canvas id="chart" width="800" height="400"></canvas>
            </div>
        </div>
    </div>
</div>  