<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}\Log\csmon-${shortdate}.log"
            ArchiveOldFileOnStartup="true" maxArchiveFiles="2"
            layout="${longdate}|${uppercase:${level}}|${logger}|url: ${aspnet-request-url}|${message} ${exception:format=tostring}" />

    <target xsi:type="Console" name="console" detectConsoleAvailable="true" layout="${longdate}|${uppercase:${level}}|${callsite}|${message}"/>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
