<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="Title" content="CREDITS Monitor network explorer - FAQ | credits.com">
    <meta name="Description" content="CREDITS Monitor network explorer  - FAQ | credits.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CREDITS cryptocurrency bockchain transaction explorer | credits.com</title>

    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110018170-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());
            gtag('config', 'UA-110018170-3');
        </script>

        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PPF66RB');
        </script>
        <!-- End Google Tag Manager -->
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter44398234 = new Ya.Metrika2({
                            id: 44398234,
                            clickmap: true,
                            trackLinks: true,
                            accurateTrackBounce: true,
                            webvisor: true,
                            trackHash: true
                        });
                    } catch (e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/tag.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks2");
        </script>
        <!-- /Yandex.Metrika counter -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
    </environment>
    <link rel="stylesheet" href="/style.css" asp-append-version="true">
    <script type="text/javascript" src="/components.js" asp-append-version="true"></script>
    @RenderSection("head", false)
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPF66RB"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Yandex.Metrika counter (noscript) -->
    <noscript><div><img src="https://mc.yandex.ru/watch/44398234" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter (noscript)-->

    <header class="header">
        <div class="header__wrapper row">
            <a href="/monitor/index" class="header__logo">
                <div class="row">
                    <div class="header__img">
                        <img src="/img/logo.png" style="visibility: hidden;" />
                    </div>
                    <div class="header__title">credits</div>
                    <div class="header__subname">Monitor</div>
                </div>
                <div class="header__label">Fast cryptocurrency <span class='testnet'>TESTNET</span></div>
            </a>
            <div class='container'>
                <nav class="header__nav row">
                    <a target="_blank" href="https://wallet.credits.com/" class="header__category">Wallet</a>
                    <a href="/monitor/ledgers" class="header__category">All pools (blocks)</a>
                    @*<a href="/monitor/nodes" class="header__category">Nodes</a>*@
                    @if (bool.Parse(Configuration["ShowTPS"]))
                    {
                        <a href="/monitor/tps" class="header__category">TPS</a>
                    }
                </nav>
                <div class='block_seach'>
                    <form action="~/monitor/search" method="post">
                        <input type="text" name="query" placeholder="Search transaction, block, account">
                        <input type="image" name="submit" src="/img/loupe.svg" border="0" alt="Submit" class="search_submit" />
                    </form>
                </div>
            </div>
            <div class="header__right">
            </div>
        </div>
    </header>

    <div id="app" class="contain">
        @RenderBody()
    </div>

    <div class="empty_height"></div>

    <footer>
        <div class="contain">
            <div class="sub_menu">
                <div>
                    <div class="title">Credits monitor</div>
                    <div class="sub_text">
                        Supported by<br>
                        CREDITS.COM PTE.LTD<br>
                        Singapore
                    </div>
                </div>
                <div style="visibility: hidden">
                    <div class="title"></div>
                    <div class="sub_text"></div>
                </div>
            </div>
            <div class="socLink">
                <a target="_blank" href="https://t.me/creditscom">
                    <img src="/img/telegram.png" alt="">
                </a>
                <a target="_blank" href="https://t.me/CREDITSoffical">
                    <img src="/img/telegram.png" alt="">
                </a>
                <a target="_blank" href="https://www.facebook.com/creditscom/">
                    <img src="/img/facebook.png" alt="">
                </a>
                <a target="_blank" href="http://www.linkedin.com/company/13370238/">
                    <img src="/img/in.png" alt="">
                </a>
                <a target="_blank" href="https://medium.com/@@credits">
                    <img src="/img/medium.png" alt="">
                </a>
                <a target="_blank" href="https://twitter.com/creditscom">
                    <img src="/img/twitter.png" alt="">
                </a>
                <a target="_blank" href="https://bitcointalk.org/index.php?topic=2401248.0">
                    <img src="/img/bitcoin.png" alt="">
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCD9jHWhwq4l03Yu5XnOPEhg?sub_confirmation=1">
                    <img src="/img/youtube.png" alt="">
                </a>
                <a target="_blank" href="https://www.reddit.com/r/CreditsOfficial/">
                    <img src="/img/reddit.png" alt="">
                </a>
            </div>
        </div>
    </footer>
    <div class="copyright">
        Copyright © 2018
    </div>
    @RenderSection("script", false)
</body>
</html>