@section head
{

}

@section script
{
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                net: M_NET,
                from: '@ViewData["from"]',
                to: '@ViewData["to"]',
                page: @ViewData["page"],
                loading: false,
                contractsData: { contracts: [] }
            },
            methods: {
                getContracts: function(p) {
                    this.loading = true;
                    $.get(`${M_API}/schistory?page=${p}&from=@ViewData["from"]&to=@ViewData["to"]`)
                        .done(vm.onGetData)
                        .always(function() {
                            vm.loading = false;
                        });
                },
                onGetData: function(data) {
                    this.page = data.page;
                    this.contractsData = data;
                },
                search: function() {
                    window.location.href = `${M_NET}/monitor/contracts?from=${this.from}&to=${this.to}`;
                }
            }
        });

        vm.getContracts(vm.page);
    </script>
}

<div>

    <div>
        <h1 class="margin_top_1_625em">Smart contracts</h1> 
        <h1 class="font_size_1_5_em">The history of implementations of the contracts</h1> 
    </div>
    <div class="form_col2">
        <div class="left">
            <label class="title">From</label>
            <input class="input" type="search" placeholder="From" v-model="from" v-on:search="search"/>
        </div>
        <div class="right">
            <label class="title">To</label>
            <input class="input" type="search" placeholder="To" v-model="to" v-on:search="search"/>
        </div>
    </div>   
    

    @*<div class="sub_text">№ of blocks: <span class="number">{{ledgersData.ledgers.length}} items</span></div>*@
    <div class="whitepanel">
        <pager :page="page" :getfn="getContracts" :next="contractsData.haveNextPage"></pager>
        <div class="container_table">
            <table class="table_info_trans">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Id</th>
                        <th>Age</th>
                        <th>From account</th>
                        <th>To account</th>
                        <th>Value</th>
                        <th>Fee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in contractsData.transactions">
                        <td>{{item.index}}</td>
                        <td class="hash"><a :href="net + '/monitor/transaction/' + item.id">{{item.id}}</a></td>
                        <td>{{item.age}}</td>
                        <td class="hash"><a :href="net + '/monitor/account/' + item.fromAccount">{{item.fromAccount}}</a></td>
                        <td class="hash"><a :href="net + '/monitor/account/' + item.toAccount">{{item.toAccount}}</a></td>
                        <td>{{item.value}} {{item.currency}}</td>
                        <td>{{item.fee}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="loader" v-show="loading"></div>
        <pager :page="page" :getfn="getContracts" :next="contractsData.haveNextPage"></pager>
    </div>
</div>
