@section head
    {
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
}

@section script
{
    <script>
        Vue.directive('highlightjs', {
            deep: true,
            bind: function(el, binding) {
                // on first bind, highlight all targets
                let targets = el.querySelectorAll('code');
                targets.forEach((target) => {
                    // if a value is directly assigned to the directive, use this
                    // instead of the element content.
                    if (binding.value) {
                        target.textContent = binding.value;
                    }
                    hljs.highlightBlock(target);
                });
            },
            componentUpdated: function(el, binding) {
                // after an update, re-fill the content and then highlight
                let targets = el.querySelectorAll('code');
                targets.forEach((target) => {
                    if (binding.value) {
                        target.textContent = binding.value;
                        hljs.highlightBlock(target);
                    }
                });
            }
        });


        var vm = new Vue({
            el: "#app",
            data: {
                net: M_NET,
                id: '@ViewData["id"]',
                model: @Html.Raw(Json.Serialize(Model)),
                loading: false,
                loading_t: false,
                page: 1,
                transData: { transactions: [] }
            },
            methods: {
                getData: function () {
                    this.loading = true;
                    $.get(`${M_API}/ContractInfo/${this.id}`)
                        .done(function(data) {
                            vm.model = data;                            
                            if (data.found)
                                vm.getTransactions(vm.page);
                            else
                                window.location.href = `${M_NET}/monitor/account/${vm.id}`;
                            vm.loading = false;
                        }).fail(function() {
                            vm.notFound = true;
                            vm.loading = false;
                        });
                },
                getTransactions: function (p) {
                    this.loading_t = true;
                    $.get(`${M_API}/AccountTransactions?id=${this.id}&page=${p}`)
                        .done(function (data) {
                            vm.page = data.page;
                            vm.transData = data;
                        })
                        .always(function () {
                            vm.loading_t = false;
                        });
                }
            },
            created: function() {
                this.getData();
            }
        });
    </script>
}
<div class="content std">
    <div v-show="loading" class="padding_top_60 p_bot20">
        <div class="loader"></div>
    </div>
    <div v-show="model.found">
        <h2 class="main_title padding_top_60 p_bot20">Smart Contract</h2>
        <div class="whitepanel">
            <div class="block_stat grey_line_bottom">
                <div class="type">
                    <div class="active">Information</div>
                </div>
            </div>
            <table>
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Address:</td>
                        <td>{{id}}</td>
                    </tr>
                    <tr>
                        <td>Deployer:</td>
                        <td>{{model.deployer}}</td>
                    </tr>
                    <tr>
                        <td>HashState:</td>
                        <td>{{model.hashState}}</td>
                    </tr>
                    <tr>
                        <td>Byte code length:</td>
                        <td>{{model.byteCodeLen}}</td>
                    </tr>
                    <tr>
                        <td>Method:</td>
                        <td>{{model.method}}</td>
                    </tr>
                    <tr>
                        <td>Params:</td>
                        <td>{{model.params}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="main_title padding_top_60 p_bot20">Source code:</h2>
        <div class="list_info">
            <pre v-highlightjs="model.sourceCode"><code class="java"></code></pre>
        </div>

        <h2 class="main_title padding_top_60 p_bot20">List of transactions</h2>
        <div class="subtitle_line">
            <span class="suttext p_bot20">Transactions: {{transData.transactions.length}}</span>
            <pager :page="page" :getfn="getTransactions" :next="transData.haveNextPage"></pager>
        </div>
        <transactions :network="net" :source="transData.transactions"></transactions>
        <div class="loader" v-show="loading_t"></div>
        <div class="padding_bottom_60">
            <pager :page="page" :getfn="getTransactions" :next="transData.haveNextPage"></pager>
        </div>
    </div>
</div>
