
@section script
{
<script>
	var vm = new Vue({
		el: "#app",
        data: {
            net: M_NET,
            page: @ViewData["page"],
            loading: false,
			ledgersData: { ledgers: [] }
		},
		methods: {
            getLedgers: function (p) {
                this.loading = true;
                $.get(`${M_API}/ledgers/${p}`)
                    .done(vm.onGetData)
                    .always(function() {
                        vm.loading = false;
                    });
			},
			onGetData: function (data) {
				this.page = data.page;
				this.ledgersData = data;
			}
		}
	});

	vm.getLedgers(vm.page);
</script>
}

<div>
    <h1 class="margin_top_1_625em">All blocks</h1>
    <h1 class="font_size_1_5_em">All blocks processed in the network</h1>

    <div class="sub_text">№ of blocks: <span class="number">{{ledgersData.ledgers.length}} items</span></div>
    <div class="whitepanel">
        <pager :page="page" :getfn="getLedgers" :next="ledgersData.haveNextPage"></pager>
        <pools :network="net" :source="ledgersData.ledgers"></pools>
        <div class="loader" v-show="loading"></div>
        <pager :page="page" :getfn="getLedgers" :next="ledgersData.haveNextPage"></pager>
    </div>
</div>
