
@section script
{
    <script>

        var vm = new Vue({
            el: "#app",
            data: {
                net: M_NET,
                page: @ViewData["page"],
                loading: false,
                ledgersData: { }
            },
            methods: {
                getLedgers: function (p) {
                    this.loading = true;
                    $.get(`${M_API}/ledgers/${p}`)
                        .done(vm.onGetData)
                        .always(function() {
                            vm.loading = false;
                        });
                },
                onGetData: function (data) {
                    this.page = data.page;
                    this.ledgersData = data;
                }
            }
        });

        vm.getLedgers(vm.page);
    </script>
}

<h4>All blocks processed in the network</h4>
<div class="row justify-content-center" v-show="loading">
    <div class="col-auto my-2">
        <h6>Loading...</h6>
        <div class="progress mt-1">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
<div v-show="!loading">
    <div class="mt-4">Blocks {{ledgersData.numStr}}</div>
    <pb :page="page" :getfn="getLedgers" :next="ledgersData.haveNextPage" :hidelast="true"></pb>
    <div class="table-responsive">
        <table class="table table-sm table-striped border-bottom border-primary mb-0 table_info_trans">
            <thead>
            <tr>
                <th>№</th>
                <th>Time</th>
                <th>Status</th>
                <th>Hash</th>
                <th>Quant txs</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in ledgersData.ledgers">
                <td>{{item.number}}</td>
                <td>{{new Date(item.time).toLocaleString()}}</td>
                <td class="text-success">Success</td>
                <td class="hash"><a :href="net + '/ledger/' + item.hash">{{item.hash}}</a></td>
                <td>{{item.txCount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <pb :page="page" :getfn="getLedgers" :next="ledgersData.haveNextPage" :hidelast="true"></pb>
</div>
