
@section script
{
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                net: M_NET,
                page: @ViewData["page"],
                loading: false,
                tokensData: { },
                numStr: ''
            },
            methods: {
                getTokens: function(p) {
                    this.loading = true;
                    $.get(`${M_API}/Tokens2?page=${p}&limit=${localStorage.limit}`)
                        .done(function(data) {
                            vm.page = data.page;
                            vm.tokensData = data;
                        })
                        .always(function() {
                            vm.loading = false;
                        });
                }
            },
            created: function() {
                this.getTokens(this.page);
            }
        });
    </script>
}

<nav aria-label="breadcrumb mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a :href="net + '/index'">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tokens</li>
    </ol>
</nav>

<div class="row justify-content-center" v-show="loading">
    <div class="col-auto">
        <h6>Loading...</h6>
        <div class="progress mt-1">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
<div v-show="!loading">
    <h4 class="my-3">Tokens</h4>
    <pb :page="page" :getfn="getTokens" :next="tokensData.haveNextPage" :last="tokensData.lastPage" top>Tokens {{tokensData.numStr}}</pb>
    <div class="table-responsive">
        <table class="table table-sm table-striped border-bottom border-primary table_info_trans">
            <thead class="thead-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Holders</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in tokensData.tokens">
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td class="hash"><a :href="net + '/token/' + item.address">{{item.address}}</a></td>
                    <td>{{item.holdersCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pb :page="page" :getfn="getTokens" :next="tokensData.haveNextPage" :last="tokensData.lastPage"></pb>
</div>
