
@section script
{
  <script>
	var model = @Html.Raw(Json.Serialize(Model));
    var vm = new Vue({
        el: "#app",
		data: model
    });
  </script>
}

<h2 class="margin_top_1_625em">Transaction <span class="sub_text color_grey">{{id}}</span></h2>
<div class="sub_text color_grey"></div>
<div class="whitepanel">
    <div class="block_stat grey_line_bottom">
        <div class="type">
            <div class="active">Information</div>
        </div>
    </div>
    <table class="table_info">
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            <tr>
                <td>Id:</td>
                <td>{{id}}</td>
            </tr>
            <tr>
                <td>TxHash:</td>
                <td>{{hash}}</td>
            </tr>
            <tr>
                <td>TxReceipt Status:</td>
                <td class="success">Success</td>
            </tr>
            <tr>
                <td>Pool (Block):</td>
                <td><a :href="'/monitor/ledger/' + poolHash">{{poolHash}}</a></td>
            </tr>
            <tr>
                <td>TimeStamp:</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>From:</td>
                <td><a :href="'/monitor/account?id=' + fromAccountEnc">{{fromAccount}}</a></td>
            </tr>
            <tr>
                <td>To:</td>
                <td><a :href="'/monitor/account?id=' + toAccountEnc">{{toAccount}}</a></td>
            </tr>
            <tr>
                <td>Value:</td>
                <td>{{value}} {{currency}}</td>
            </tr>
            <tr>
                <td>Fee:</td>
                <td>{{fee}} {{currency}}</td>
            </tr>
        </tbody>
    </table>
</div>

