
@section script
{
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                net: M_NET,
                trId: "@ViewData["id"]",
                trans: {},
                loading: false,
                found: true
            },
            methods: {
                getData: function () {
                    this.loading = true;
                    $.get(`${M_API}/TransactionInfo/${this.trId}`)
                        .done(function(data) {
                            vm.trans = data;
                            vm.found = data.found;
                        }).fail(function() {
                            vm.found = false;
                        }).always(function () {
                            vm.loading = false;
                        });
                }
            },
            created: function() {
                this.getData();
            }
        });
    </script>
}

<div class="row justify-content-center" v-show="loading">
    <div class="col-auto">
        <h6>Loading transaction info...</h6>
        <div class="progress mt-1">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>

<div v-show="!found">
    <h4 class="main_title padding_top_60 p_bot20">Transaction not found:</h4>
    <p>{{trId}}</p>
</div>

<div v-show="found && !loading">
    <h3 class="main_title padding_top_60 p_bot20">Transaction</h3>
    <ul class="nav nav-tabs mt-3 border-bottom-0">
        <li class="nav-item">
            <a class="nav-link active text-info">Transaction Info</a>
        </li>
    </ul>
    <div class="tab-content table-responsive">
        <table class="table table-sm border-left border-bottom">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id:</td>
                    <td>{{trans.id}}</td>
                </tr>
                <tr>
                    <td>Tx status:</td>
                    <td class="text-success">Success</td>
                </tr>
                <tr>
                    <td>Block:</td>
                    <td><a :href="net + '/block/' + trans.poolHash">{{trans.poolHash}}</a></td>
                </tr>
                <tr>
                    <td>Time stamp:</td>
                    <td>{{new Date(trans.time).toLocaleString()}}</td>
                </tr>
                <tr>
                    <td>From:</td>
                    <td><a :href="net + '/account/' + trans.fromAccount">{{trans.fromAccount}}</a></td>
                </tr>
                <tr>
                    <td>To:</td>
                    <td><a :href="net + '/account/' + trans.toAccount">{{trans.toAccount}}</a></td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td>{{trans.value}} {{trans.currency}}</td>
                </tr>
                <tr>
                    <td>Fee:</td>
                    <td>{{trans.fee}} {{trans.currency}}</td>
                </tr>
                <tr>
                    <td>Method:</td>
                    <td>{{trans.method}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
