html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap {
    overflow: hidden;
    min-height: calc(100vh - 155px);
    padding-top: 100px;
    background-color:#f5f5f5;
}
.wrap.fix, footer.fix {
    min-width: 1050px;
}
.tet_bold, .fontBold{
    font-weight:bold;
}
.font_l_h_2 {
    line-height:2;
}
.lblock {
    display:flex;
    flex-direction: row;
    margin-bottom:0;
}
p.lp {
    /*margin-top:7px;*/
}
a.bold-link.bttn.lupop {
    padding:10px 30px;
	margin-left:10px;
	border: 1px solid #d2d2d2;
	border-radius:6px;
	cursor:pointer;
}
a.bold-link.bttn.lupop:hover {
    background-color: #d2d2d2;
}
.lupop img{
    width: 19px;
    height: 19px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #13191c;
    font-size: 16px;
    color: #92989b;
    font-weight: 600;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}
.mb-10 {
    margin-bottom:10px;
}
.header-wrap {
	width: calc(100% - 300px);
	display:none;
}
.header .logo-wrap {
	float: left;
}
.content.inner-wrap {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
    height: 60px;
}
.logo-wrap {
	padding: 10px 0;
    max-width: 300px;
    width: 100%;
    display: flex;
}
.content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#263238;
}
.padding_top_10 {
    padding-top:10px;
}
.padding_top_15 {
    padding-top:15px;
}
.padding_top_20 {
    padding-top:20px;
}
.padding_top_30 {
    padding-top:30px;
}
.padding_top_50 {
    padding-top:50px;
}
.padding_top_60 {
    padding-top:60px;
}
.padding_bottom_30{
    padding-bottom:30px;
}
.padding_bottom_60{
    padding-bottom:60px;
}
.padding_bottom_70 {
    padding-bottom:70px;
}
.margin_bottom_60 {
    margin-bottom:60px;
}
.margin_bottom_70 {
    margin-bottom:70px;
}
.margin_left_60{
    margin-left: 60px;
}
select option{
    font-size: 14px;
}   
.selectTopMenu{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    background-color: #bebebe;
}
.selectTopMenu::after{
    content: "▼";
    position: absolute;
    display: block;
    top: 0;
    right: -14px;
    cursor: pointer;
}
.selectTopMenu__list{
    display: none;
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #263238;
    padding: 4px 0;
}
.selectTopMenu__item{
    padding: 0 4px;
    cursor: pointer;
}
.selectTopMenu__item:hover{
    background: #d5d5d5;
}
.menu{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.wrap_menu {
	display:flex;
    padding-top:15px;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
}
.wrap_menuFix{
    width: 400px;
    padding-top: 10px;
}
.strelka::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: transform 0.15s;
    -o-transition: transform 0.15s;
    transition: transform 0.15s;
    background-image: url(../img/spr.png);
    background-position: -542px -466px;
    width: 12px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    margin: auto 0;
}
.strelka:hover .dropMenu, .drop_menu:hover{
    display: flex;
    padding: 0;
}
.menu_itemActiv::before, .menu_itemActiv::after{
    transform: scaleY(-1);
}
.strelkaFooter::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: transform 0.15s;
    -o-transition: transform 0.15s;
    transition: transform 0.15s;
    background-image: url(../img/spr.png);
    background-position: -542px -466px;
    width: 12px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    margin: auto 0;
}
.dropMenu {
    position: absolute;
    top: 0px;
    /*left: -10px;*/
    left:-100%;
    padding-top: 30px;
    background: #13191c;
    display: none;
    z-index: -1;
}
.dropMenu a:hover{
    background: #2b3033;
}
.dropMenuItem{
    display: block;
    padding: 10px;
    color: #92989b;
    text-align: left;
    text-decoration: unset;
    white-space: pre;
    text-align: center;
    z-index: 10;
    background: #404040;
}
.menu_item {
    cursor:pointer;
    position: relative;
    z-index: 100;
    /*padding-left:60px;*/
}
.main_men .menu_item, .main_men .menu_item a, .footer_menu_item .dropMenu a {
    color: #92989b;
    text-decoration: unset;
}
.main_men .menu_item, .main_men .menu_item a:hover, .footer_menu_item .dropMenu a:hover {
    color: #eee;
    text-decoration: unset;
}
.top_head_menu {
	width:100%;
	height:35px;
	background-color:#bebebe;
	color:#263238;
}
.top_head_menu .menu_item a {
    color:#263238;
    text-decoration: unset;
}
.top_head_menu_wrap {
	display:flex;
	/*padding-top:10px;
	/*max-width: 500px;
    float: right;*/
    justify-content: flex-end;
    flex-direction: row;
}
.top_head_menu_wrap .menu_item {
	font-size:14px;
}
.top_head_menu_wrap .menu_item:hover, footer_menu_item:hover {
	color: #eee;
    text-decoration: unset;
}
.norm_font {
	font-weight:normal;
}
.padding_left_60 {
	padding-left:60px;
}
.content.search {
    padding:25px 10px;
    width: 100%;
    max-width: 600px;
    display: flex;
}
.content.search .main_search {
    max-width:100%;
}
.big_title {
	font-weight:normal;
	font-size:27px;
	padding-bottom:20px;
}
.content p {
	font-size:14px;
	padding-bottom:20px;
}
.lupa {
	padding:8px 30px;
	margin-left:10px;
	border: 2px solid #abadae;
	border-radius:6px;
	cursor:pointer;
}
.main_search {
	height:40px;
	padding:15px 10px;
	max-width:450px;
    width:100%;
    text-overflow: ellipsis;
}
input::-webkit-input-placeholder {
	font-size:16px;
}
input:-moz-placeholder {
	font-size:16px;
}
input {
	font-size:16px;
	color: #263238;
}
a.bold-link.bttn {
    border: 2px solid #263238;
    padding: 10px 20px;
    border-radius: 7px;
    cursor:pointer;
    font-size: 14px;
}
a.bold-link.bttn:hover {
    color: #fff;
    background-color: #263238;
}
footer {
	background-color:#6b787f;
    padding-bottom: 30px;
}
.wrap_foot {
    max-width: 1000px;
    margin: 0 auto;
}
.footer_items {
    font-weight: bold;
	width: 50%;
}
.footer_menu_item {
    cursor:pointer;
    padding: 5px 0px;
    font-weight: 600;
    position: relative;
}
.row {
	display:flex;
}
.footermenu{
    padding: 15px 0px 15px 40px;    
}
.footermenu, .footermenu a {    
    color: #263238;
}
.copy {
	padding: 15px 0px 15px 40px;
    color: #fff;
    font-weight:normal;
}
.copy p {
    color:#fff;
    font-weight:normal;
}
.mobile_menu {
	float:right;
	width:50px;
	padding-top:16px;
}
.menu_icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}
.menu_icon:hover span.burg_line {
	background-color: #cbd0d2;
}
.menu_icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #92989b;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu_icon span:nth-child(1) {
    top: 0px;
}

.menu_icon span:nth-child(2), .menu_icon span:nth-child(3) {
    top: 13px;
}

.menu_icon span:nth-child(4) {
    top: 26px;
}

.drop_menu p {
    text-align: right;
    padding-right: 20px;
    line-height: 2;
    cursor:pointer;
    display: none;
}
.drop_menu p a:hover {
    color:#d4d4d4;
}
.main-text{
    font-size: 14px;
    line-height: 2;
    padding-bottom:20px;
}
.title {
	font-size:27px;
    font-weight: 500;
}
.p_bot20 {
    padding-bottom:20px;
}
.p_bot10, .padding_bottom_10 {
    padding-bottom:10px;
}
.p_bot15, .padding_bottom_15 {
    padding-bottom:15px;
}
.p_bot30, .padding_bottom_30 {
    padding-bottom:30px;
}
.w-100{
    width: 100%;
}
.d-block{
    display: block;
}
.main-input{
    display: block;
    width: 100%;
    padding: 8px;
}
.left-bar{
    width: 100%;
    max-width: 320px;
    margin-right: 24px;
}
.breaked{
    word-break: break-all;
}
.link{
    display: block;
    text-decoration: none;
    color: #567fbb;
}
.bold-link{
    text-decoration: none;
    font-weight: 600;
    color: #263238;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.select{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.select::after{
    content: "▼";
    position: absolute;
    display: block;
    top: 0;
    right: -14px;
    cursor: pointer;
}
.select__list{
    display: none;
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #263238;
    padding: 4px 0;
}
.select__item{
    padding: 0 4px;
    cursor: pointer;
}
.select__item:hover{
    background: #d5d5d5;
}
.bg-block{
    margin-top: 50px;
    height: 520px;
    background: linear-gradient(-90deg,rgba(255,255,0,0.6),transparent 37%), url('../img/background.png') center / cover;
    margin-bottom: 40px;
}
.centered_column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.around{
    justify-content: space-around;
}
.no-padding{
    padding: 0;
}
.align-bottom{
    align-items: flex-end;
}
.title {
    font-size:27px;
    font-weight: 500;
}
.text-center{
    text-align: center;
}
.feature{
    padding: 15px 0;
    text-align: center;
    max-width: 325px;
}
.feature__img{
    margin-bottom: 20px;
    width: 40px;
}
.feature__title{
    margin-bottom: 15px;
    font-weight: 500;
}
.w-650{
    max-width: 650px;
    width: 100%;
}
.w-400{
    max-width: 400px;
    width: 100%;
}
.mb-20{
    margin-bottom: 20px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.select{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
}
.textAlign_Center{
    text-align: center;
}
.margin_top_20 {
    margin-top:20px;
}
.textColorRed {
    color: red;
}
.bttnfix{
    width: 138px;
    display: block;
}
/* =( */
.mobile_menu {
    display:none;
}
.header .header-wrap {
    float: right;
    line-height: 1;
    max-width: 490px;
    padding-top: 10px;
    display:block;
}
.main-menu-wrap {
    float: left;
    width: calc(100% - 115px);
}
.info_head {
    display:flex;
    margin:0 auto;
    max-width:500px;
    width:100%;
}
.info_title {
    font-size:16px;
    padding: 10px 25px;
    cursor:pointer;
    border-bottom:1px solid #c6c6c6;
}
.info_title.active {
    border-bottom:3px solid #2d67b1;
}
.info_title:hover {
    color:#2d67b1;
    border-bottom:3px solid #2d67b1;
}
.info_content {
    text-align:center;
    display:flex;
    justify-content:center;
    padding: 25px 10px;
}
.bluetx {
    color:#2d67b1;
    font-size:18px;
}
.subbie {
    font-size:12px;
}
.subblock {
    padding-right:25px;
}
.main_title {
    font-size:27px;
    font-weight:normal;
    padding-left: 30px;
}
.subtitle_line {
    padding-left: 30px;
    font-size: 14px;
    display:flex;
}
.std {
    padding-left:20px;
    padding-right:20px;
}
.pagination {
    text-align:right;
    width:100%;
    padding-right:30px;
}
.page_control {
    color: #2d67b1;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.page_control:hover {
    text-decoration:underline;
}
.page_select {
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bold;
    font-size:14px;
}
.suttext {
    width:100%;
}
.checka {
    margin-right:10px;
}
table.table_info_trans {
    background-color:#fff;
    width:100%;
    border-collapse:collapse;
    text-align:left;
    margin-top: -32px;
}
td,th {
    background-color:#fff;
    padding: 7px 15px;
    font-size:15px;
}
tr {
    border-bottom: 1px solid #c6c6c6;
}
.tabler {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    border-top: 32px solid #4c4c4c;
    border-bottom: 2px solid #2d67b1;
}
thead th {
    background-color:#4c4c4c;
    color:#fff;
    border:none;
    font-size:14px;
    text-align: left;
    padding-left:15px;
    font-weight: 400;
}
thead tr {
    border-bottom:none;
}
table.table_info_trans tr:last-child {
    border-bottom: none;
}
td.hash {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:15px;
}
td.success {
    color: green;
}
td a {
    color:#2d67b1;
    text-decoration:none;
}
td img {
    width: 12px;
}
.wrap_form {
    max-width: 490px;
    width:100%;
    margin: 0 auto;
}
.wrap_form_modern {
    max-width: 490px;
    width:100%;
    padding-left:30px;
}
textarea.textarea-cont {
    border: 1px solid #263238;
    color: #263238;
    height: 215px;
    width:100%;
    padding:8px;
    resize: none;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    overflow: auto;
}
input.forms {
    border: 1px solid #263238;
    color: #263238;
}
.list_info {
    padding-left:30px;
}
.whitepanel {
    padding-left: 20px;
}
.block_stat.grey_line_bottom {
    border-bottom: 1px solid #4c4c4c;
    padding: 0px 30px;
}
.type {
    background-color: #dadada;
    width: 182px;
    padding: 12px;
}
.green_t {
    color:green;
}
a.classic {
    color: #2d67b1;
    font-size: 14px;
    cursor: pointer;
}
a.classic:hover {
    text-decoration:underline;
}
input.main-input.in_text {
    max-width: 100px;
    display: inline;
    margin: 0 20px;
    padding: 3px;
}
.table_node thead th {
    text-align:center;
}
.subsub_line {
    width:100%;
    padding-bottom: 20px;
}
.crop_text {
    text-overflow: ellipsis;
    overflow: hidden;
}
footer .selectTopMenu {
    background-color: #6b787f;
    border-color: #7a8084;
}
@media screen and (max-width: 900px) {
    .tabler {
        border-top: none;
        padding:0;
        overflow:auto;
    }
    table.table_info_trans {
        margin-top:0;
        
    }
}
@media screen and (max-width: 810px) {
    .top_head_menu_wrap {
        float:none;
    }
    .header .logo-wrap {
        display: none;
        width:auto;
    }
    .header .header-wrap {
        float:none;
        width:100%;
    }
    .top_head_menu_wrap .menu_item {
        font-size: 12px;
    }
}
@media screen and (max-width: 768px) {
    .subtitle_line {
        flex-direction: column;
        padding-bottom:20px;
    }
    .info_content {
        flex-direction:column;
    }
    .subblock {
        padding-right:unset;
        padding-top:5px;
    }
}
@media screen and (max-width: 500px) {
    .menu_item {
        font-size: 12px;
    }
    .main_title, .subtitle_line {
        padding-left: 0px;
    }
    .pagination {
        text-align:left;
    }
    .page_control {
        padding-left:5px;
    }
    .wrap_form_modern {
        padding-left:0;
        padding-top:0;
    }
    .info_head {
        flex-direction: column;
    }
    .info_title {
        border-bottom: 3px solid #c6c6c6;
    }
    .padding_top_60 {
        padding-top:20px;
    }
}
.displayFlex{
    display: flex;
}
.top_head_menu::before{

    background-color:red;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
}

@media (min-width:501px){
    .menuBurgerClose{
        display: none;
    }
    .netw_item{
        display: none;
    }
    .tools{
        position: relative;
    }
    .strelka:hover .dropMenu, .drop_menu:hover{
        display: flex;
        flex-direction: column;
        padding: 0;
        position: absolute;
        top: 15px;
        padding-top: 15px;
    }
    .tools::before{
        left: -15px;
    }
    .strelka:hover .dropMenu, .drop_menu:hover{
        left: -15px;
    }
    .dropMenuItem{
        text-align: left;
        background: inherit;
    }
    .NetworkSelect_Box{
        display: flex;
    }
    .NetworkSelect{
        display: flex;
    }
    .netw_itemFooter_Box{
        display: none;
    }
    .menuBurgerClose{
        display: none;
    }
}

@media (min-width:320px) and (max-width:500px){
    .displayNone{
        display: none;
    }
    .textAlignRight{
        text-align: right;
    }
    .menuBurger:before {
        height: 2px;
        margin-top: -1px;
        border-bottom: none;
    }
    .menuBurger:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .menuBurger:before {
        content: "";
        display: block;
        width: 30px;
        height: 16px;
        border-top: 2px solid #787675;
        border-bottom: 2px solid #787675;
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin: -11px 0 0 -25px;
        -webkit-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        transition: all ease 0.2s;
    }
    .menuBurger:after{
        content: "";
        display: block;
        width: 30px;
        height: 7px;
        border-top: 2px solid #787675;
        border-bottom: 2px solid #787675;
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin: -11px 0 0 -25px;
        -webkit-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        transition: all ease 0.2s;
    }
    .menuBurger{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    header{
        height: 40px;
    }
    .menuBurger{
        height: 30px;
        font-size: 26px;
        margin-right: 5px;
    }
    .menuBurgerClose{
        height: 30px;
        font-size: 32px;
        margin-right: 15px;
    }
    .height40{
        height: 40px;
    }
    .height100{
        height: 100px;
    }
    .bg_Gray{
        background-color: #13191c;
    }
    .top_head_menu{
        height: auto;
        background-color: #13191c;
        border: none;

    }
    .content.inner-wrap{
        height: auto;
        margin: -1px auto;
        
    }
    .wrap_menu{
        flex-direction: column;
        align-items: flex-end;
        color: #92989b;
    }
    .strelka::before{
        right: 35px;
        top: 3px;
        margin: 0px 3px;
        position: static;
    }
    .dropMenu{
        left: -130px;
        right: -10px;
        text-align: right;
        padding-top: 50px;
    }
    .main_men .menu_item{
        padding: 0px 0px;
        margin: 5px 0;
        text-align: right;
    }
    .wrap_menu{
        padding-top: 0px;
    }
    .top_head_menu_wrap .menu_item{
        padding: 0;
        margin: 5px 0;
        text-align: right;
    }
    .header .header-wrap{
        padding-top: 0px;
    }
    .tools a{
        background: #404040;
        text-align: right;
        
    }
    .content.inner-wrap{
        padding: 0 15px;
    }
    .strelka:hover .dropMenu, .drop_menu:hover, .drop_menu a:hover{
        display: block;
        position: static;
        padding: 0;
    }
    .netw_item .dropMenu a{
        background: #404040;
        text-align: right;
    }
    .netw_itemFooter, .netw_itemFooter:hover .dropMenu .dropMenuItem:hover{

    }
    .strelkaFooter::after:hover{

    }
    .NetworkSelect_Box{
        display: none;
    }

}







.footer_menu_item{
    padding: 0;
    margin: 5px auto;
}
.footer_items{
    width: 100%;
}
.tools::before{
    left: 45px;
}
.netw_itemFooter::after{
    right: -15px;
}
.netw_itemFooter, .netw_itemFooter:hover .dropMenu .dropMenuItem:hover {
    display: block;
    position: relative;
}
.netw_itemFooter:hover .dropMenu,  .netw_itemFooter .dropMenu:hover{
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 110;
    width: 110px;
}

.toolsFooter:hover .dropMenu .dropMenuItem{
    position: relative;
    top: 0;
    right: 0;
}
.toolsFooter::after{
    right: 0px;
    left: 50px;
}
.toolsFooter, .netw_itemFooter:hover .dropMenu .dropMenuItem:hover {
    display: block;
    position: relative;
}
.toolsFooter:hover .dropMenu,  .netw_itemFooter .dropMenu:hover{
    display: block;
    position: absolute;
    top: 20px;
    right: -60px;
    z-index: 110;
    width: max-content;
    left: auto;
}
.netw_itemFooter:hover .dropMenu .dropMenuItem{
    position: relative;
    top: 0;
    right: 0;
}
.strelkaFooter::before{
    display: none;
}
.strelkaFooter::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: transform 0.15s;
    -o-transition: transform 0.15s;
    transition: transform 0.15s;
    background-image: url(../img/spr2.png);
    background-position: -542px -466px;
    width: 12px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
    margin: auto 0;
}
footer .dropMenu{
    padding-top: 0px;
}
footer .dropMenu a{
    text-align: left;
}
footer .tools::after{
    right: 20;
}
.toolsFooter:hover .dropMenu a, .netw_itemFooter .dropMenu:hover a{
    word-break: break-all;
}

button:disabled, select:disabled, optgroup:disabled, option:disabled, select[disabled] > option {
    color: graytext;
}


.input_token {
    width: 75px;	
}

.loader {
    border: 5px solid #C3C3E3;
    border-radius: 50%;
    border-top: 5px solid #0095d9;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }




/*
@media screen and (max-width: 1023px){
    .mobile-center{
        align-items: center;
        justify-content: space-around;
    }
}
@media screen and (max-width: 1024px) {
  .menu_icon{
    display: inline-block;
  }
  
  .menu_links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu_links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
  .content{
    padding-left: 10px;
    padding-right: 10px;
    }
    .mobile-column{
        flex-direction: column;
    }

    .left-bar{
        margin: 0 auto;
        max-width: unset;
        justify-content: space-around;
        flex-direction: row;
    }

}
@media (min-width: 1024px) {
	.mobile_menu {
		display:none;
	}
	.header .header-wrap {
		float: right;
		line-height: 1;
		max-width: 490px;
		padding-top: 10px;
		display:block;
	}
	.main-menu-wrap {
		float: left;
		width: calc(100% - 115px);
	}
}
@media screen and (max-width: 375px) {
    .logo img {
        display: none;
    }
    .header .logo-wrap {
        width:auto;
    }
}*/