body {
    font-family: 'Montserrat', sans-serif;
}

.mw1000 {
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    margin: 0 10px;
}

.topnav a {
    color: #263238;
    text-decoration: unset;
}

.navbar-shadow {
    /* ReSharper disable once RequiresFallbackColor */
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.content {
    margin-top: 140px;
    min-height: 400px;
}

.table_info_trans td, .table_info_trans th {
    padding: 7px 15px;
    font-size: 15px;
    white-space: nowrap;
}

.hash {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.progress-bar {
    width: 200px;
}

code {
    font-family: Monospace;
}
